---
import '../styles/global.scss';

const seoTitle = 'Portfolio de Bernardo | Full-Stack Developer';
const seoDescription =  'Desarrollador web apasionado, con un enfoque por el código limpio, eficiente y escalable. Especializado en JavaScript, TypeScript, React y Node.js.';
const seoKeywords = 'Full Stack Developer, JavaScript, TypeScript, React, Node.js, HTML, CSS, Astro, Portfolio';
const imgaeUrl = 'https://portfolio-ber.vercel.app/img/bmlogo.png';


---


<!DOCTYPE html>
<html lang="es" class="bg-black text-gray-100 font-mono">
	<head>

		<!-- Crawler & Robots -->
		<meta name="robots" content="index, follow" />
		<meta name="revisit-after" content="7 days" />

		<!-- Meta tags -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width", initial-scale=1.0"/>

		<meta name="robots" content="index, follow" />
		<meta name="author" content="Your Name" />

		<link rel="canonical" href="https://portfolio-ber.vercel.app/" />

		<!-- SEO -->

		<title>{seoTitle}</title>
		<meta name="description" content={seoDescription} />

		<!-- Open Graph (para compartir en redes sociales) -->
		<meta property="og:title" content={seoTitle} />
		<meta property="og:description" content={seoDescription} />
		<meta property="og:type" content="website" />
		<meta property="og:image" content={imgaeUrl} />
		<meta property="og:url" content="https://portfolio-ber.vercel.app/"/>
		<meta property="og:site_name" content="Bernardo Marozzi | Portfolio" />

		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={seoTitle} />
		<meta name="twitter:description" content={seoDescription} />
		<meta name="twitter:image" content={imgaeUrl} />

		<!-- Favicon -->
		<link rel="icon" type="image/webp" href="/img/bmlogo.webp"/>

	</head>

	<body class="min-h-[100vh] flex item-center justify-center p-4 md:p-8">
		<slot />
	</body>

</html>
